/*
---------------------------------------------------------------------
Author: Connor Lenton
Date: March 11, 2017
Course: SAIT PHP
Assignment 1
---------------------------------------------------------------------
*/
body{
    background: #777;
}

a:visited, a:hover, a:active, a:link{
    color: #111;
    text-decoration: none;
}

.nav{
    background: #FFF;
    height: 50px;
    padding: 0 0 0 50px;
}
.error{
    color: red;
}
.inputRecipe{
    width: 600px;
    line-height: 50px;
    text-align: right;
}
.inline{
    display: inline-block;
}
.navControl{
    float: right;
}
.navInput {
    height: 50px;
    border: none;
    background: transparent;
    font-size: 20px;
    padding: 0 30px;
    background: #333;
    color: white;
}
.navinput:hover{
    background: #555;
}
.navControl a{
    position: relative;
    top: 13px;
    font-size: 20px;
    padding: 15px 33px;
    background: #333;
    color: white;
}
.navControl a:hover{
    background: #555;
}
.greet{
    height: 50px;
    font-size: 20px;
    vertical-align: top;
    padding-top: 15px;
}
.nav i{
    font-size: 40px;
    padding-top: 5px;
    padding-right: 25px;
    font-weight: 900;
}
textarea{
    resize: vertical;
    height: 200px;
    vertical-align: text-top
}
.inputText{
    width: 400px;
}
.recipe-list-container{
    padding: 50px;
    padding-top: 15px;
}
.recipe-container{
    background: #fff;
    margin-top: 20px;
    padding: 10px 20px;
}
.outTitle{
    font-size: 2em;
    margin: 0;
    margin-bottom: 5px;
}
.outName{
    font-size: 1.1em;
    font-weight: 100;
    margin: 0;
    margin-bottom: 5px;
}
.outTime{
    font-size: .8em;
    margin-bottom: 5px;
}
.outCreated{
    font-size: .8em;
    margin-bottom: 5px;
}
.outInstructions{
    margin: 0;
    margin-bottom: 5px;
}
.instructions-header{
    margin: 0;
    margin-bottom: 5px;
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
